body {
    margin: 0;
    padding: 0;
    background: url(R.jpg) no-repeat fixed center center;
    background-size: cover;
}

.Text {
    background-color: rgba(39, 116, 39, 0.7);
    width: 70%;
    margin: 50px auto;
    padding: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    margin-bottom: 20px;
    color: #fff;
}